@{
    ViewData["Title"] = "Configurar Juego";
}

<div>
    
    <form action="/Home/Comenzar" method="get">
        
        <h2>Nombre del jugador:</h2>
        <input type="text" name="username" required />

        <div>
            <h2>Categorías:</h2>
            <select name="categoria" required>

                @foreach(Categoria c in ViewBag.Categorias){

                   <option value="@c.ID">@c.Nombre</option>
                }

            </select>
        </div>

        <div>
            <button type="submit">Comenzar</button>
        </div>
    
    </form>

</div>
