USE [master]
GO
/****** Object:  Database [PreguntadORT]    Script Date: 16/10/2025 00:19:57 ******/
CREATE DATABASE [PreguntadORT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PreguntadORT', FILENAME = N'C:\SQLData\PreguntadORT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PreguntadORT_log', FILENAME = N'C:\SQLData\PreguntadORT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PreguntadORT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PreguntadORT]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 16/10/2025 00:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NULL,
 CONSTRAINT [PK_Categorías] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opciones]    Script Date: 16/10/2025 00:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPregunta] [int] NOT NULL,
	[Opción] [int] NOT NULL,
	[Contenido] [varchar](50) NOT NULL,
	[Correcta] [bit] NOT NULL,
	[Foto] [varchar](50) NULL,
 CONSTRAINT [PK_Opciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 16/10/2025 00:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCategoría] [int] NOT NULL,
	[Enunciado] [varchar](130) NOT NULL,
	[Foto] [varchar](50) NULL,
 CONSTRAINT [PK_Preguntas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([ID], [Nombre], [Foto]) VALUES (1, N'Entretenimiento', NULL)
INSERT [dbo].[Categorias] ([ID], [Nombre], [Foto]) VALUES (2, N'Deporte', NULL)
INSERT [dbo].[Categorias] ([ID], [Nombre], [Foto]) VALUES (3, N'Historia', NULL)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Opciones] ON 

INSERT [dbo].[Opciones] ([ID], [IDPregunta], [Opción], [Contenido], [Correcta], [Foto]) VALUES (802, 1, 1, N'Johnny Depp', 1, NULL)
INSERT [dbo].[Opciones] ([ID], [IDPregunta], [Opción], [Contenido], [Correcta], [Foto]) VALUES (803, 1, 2, N'Brad Pitt', 0, NULL)
INSERT [dbo].[Opciones] ([ID], [IDPregunta], [Opción], [Contenido], [Correcta], [Foto]) VALUES (804, 1, 3, N'Leonardo DiCaprio', 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Opciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([ID], [IDCategoría], [Enunciado], [Foto]) VALUES (1, 1, N'¿Quién interpreta a Jack Sparrow en la saga Piratas del Caribe?', NULL)
INSERT [dbo].[Preguntas] ([ID], [IDCategoría], [Enunciado], [Foto]) VALUES (2, 1, N'¿Qué serie popular de Netflix está basada en el ajedrez?', NULL)
INSERT [dbo].[Preguntas] ([ID], [IDCategoría], [Enunciado], [Foto]) VALUES (3, 1, N'¿Cómo se llama el hermano de Mario en los videojuegos?', NULL)

-- HISTORIA (IDCategoría = 3)

-- CIENCIA (IDCategoría = 4)

-- GEOGRAFÍA (IDCategoría = 5)

-- ARTE (IDCategoría = 6)
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
USE [master]
GO
